
.idea/.idea.SimpleBoxSrc.dir/.idea/encodings.xml
.idea/.idea.SimpleBoxSrc.dir/.idea/indexLayout.xml
.idea/.idea.SimpleBoxSrc.dir/.idea/vcs.xml
build/ALL_BUILD.vcxproj
build/ALL_BUILD.vcxproj.filters
build/cmake_install.cmake
build/CMakeCache.txt
build/CMakeFiles/3.29.3/CMakeCCompiler.cmake
build/CMakeFiles/3.29.3/CMakeCXXCompiler.cmake
build/CMakeFiles/3.29.3/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.29.3/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.29.3/CMakeRCCompiler.cmake
build/CMakeFiles/3.29.3/CMakeSystem.cmake
build/CMakeFiles/3.29.3/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.29.3/CompilerIdC/CompilerIdC.exe
build/CMakeFiles/3.29.3/CompilerIdC/CompilerIdC.vcxproj
build/CMakeFiles/3.29.3/CompilerIdC/Debug/CMakeCCompilerId.obj
build/CMakeFiles/3.29.3/CompilerIdC/Debug/CompilerIdC.exe.recipe
build/CMakeFiles/3.29.3/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
build/CMakeFiles/3.29.3/CompilerIdC/Debug/CompilerIdC.tlog/Cl.items.tlog
build/CMakeFiles/3.29.3/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
build/CMakeFiles/3.29.3/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
build/CMakeFiles/3.29.3/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
build/CMakeFiles/3.29.3/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
build/CMakeFiles/3.29.3/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
build/CMakeFiles/3.29.3/CompilerIdC/Debug/CompilerIdC.tlog/link.secondary.1.tlog
build/CMakeFiles/3.29.3/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
build/CMakeFiles/3.29.3/CompilerIdC/Debug/vcpkg.applocal.log
build/CMakeFiles/3.29.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.29.3/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/3.29.3/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/3.29.3/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/CMakeFiles/3.29.3/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
build/CMakeFiles/3.29.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/3.29.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/Cl.items.tlog
build/CMakeFiles/3.29.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/3.29.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/3.29.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/3.29.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/3.29.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/3.29.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.secondary.1.tlog
build/CMakeFiles/3.29.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/3.29.3/CompilerIdCXX/Debug/vcpkg.applocal.log
build/CMakeFiles/3.29.3/VCTargetsPath.txt
build/CMakeFiles/3.29.3/VCTargetsPath.vcxproj
build/CMakeFiles/3.29.3/VCTargetsPath/x64/Debug/VCTargetsPath.recipe
build/CMakeFiles/3.29.3/VCTargetsPath/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/CMakeFiles/8219bb47ff907979fdf08741e71d7674/generate.stamp.rule
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/generate.stamp
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/TargetDirectories.txt
build/Release/SimpleBox.dll
build/Release/SimpleBox.exp
build/Release/SimpleBox.lib
build/SimpleBox.dir/Release/SimpleBox.dll.recipe
build/SimpleBox.dir/Release/SimpleBox.obj
build/SimpleBox.dir/Release/SimpleBox.tlog/CL.command.1.tlog
build/SimpleBox.dir/Release/SimpleBox.tlog/Cl.items.tlog
build/SimpleBox.dir/Release/SimpleBox.tlog/CL.read.1.tlog
build/SimpleBox.dir/Release/SimpleBox.tlog/CL.write.1.tlog
build/SimpleBox.dir/Release/SimpleBox.tlog/CustomBuild.command.1.tlog
build/SimpleBox.dir/Release/SimpleBox.tlog/CustomBuild.read.1.tlog
build/SimpleBox.dir/Release/SimpleBox.tlog/CustomBuild.write.1.tlog
build/SimpleBox.dir/Release/SimpleBox.tlog/link.command.1.tlog
build/SimpleBox.dir/Release/SimpleBox.tlog/link.read.1.tlog
build/SimpleBox.dir/Release/SimpleBox.tlog/link.secondary.1.tlog
build/SimpleBox.dir/Release/SimpleBox.tlog/link.write.1.tlog
build/SimpleBox.dir/Release/SimpleBox.tlog/SimpleBox.lastbuildstate
build/SimpleBox.dir/Release/vcpkg.applocal.log
build/SimpleBox.sln
build/SimpleBox.vcxproj
build/SimpleBox.vcxproj.filters
build/x64/Release/ALL_BUILD/ALL_BUILD.recipe
build/x64/Release/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
build/x64/Release/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
build/x64/Release/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
build/x64/Release/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.write.1.tlog
build/x64/Release/ZERO_CHECK/ZERO_CHECK.recipe
build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
build/ZERO_CHECK.vcxproj
build/ZERO_CHECK.vcxproj.filters
SimpleBoxSrc.vcxproj
SimpleBoxSrc.vcxproj.filters
